    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">오늘</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/template/about">날씨는</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/template/post">하루종일</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/template/contact">맑음</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/cloud')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>게시글 수정</h1>
              <span class="subheading">무언가 새로운 일이 생겼나요?</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<div class="container">
<form action="/posts/update/<%= @post.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="post_title" value=<%= @post.title %>>
    <input type="text" name="post_content" value=<%= @post.content %>>
    <input type="text" name="hashtags">
    <input type="submit" value="다시저장!">
</form>
</div>

<hr>

<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            <p class="copyright text-muted">Copyright &copy; Sic parvis magna 2018</p>
          </div>
        </div>
      </div>
    </footer>